:root {
  --text-color: #000;
  --background-color: #BBBBF1;
  --navigation-list__item-color: #7964A6;
  --navigation-font-size: 26px;
  --button-pokemon-color: #BBF1D6;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  padding: 20px;
  width: 100%;
  background-color: #F1F1BB;
  align-items: center;
  border-style: groove;
}

.page-header__item {
  flex: 0 1 auto;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item {
  font-size: var(--navigation-font-size);
  font-weight: bold;
  color: var(--navigation-list__item-color);
}

body {
  font-family: 'Inconsolata', sans-serif;
  /* font-styling not applied yet  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size); */
  /* Sets the font size to 16px */
  line-height: 1.4;
  /* Sets the line-height to 1.4 */
  color: black;
  padding: 20px;
  background-color: var(--background-color);
  text-align: center;
}

h1 {
  font-size: 40px;
}

.app {
  max-width: 700px;
  margin: 0 auto;
}

/* created a div for the script to add a class to it and make the pokemonList appear different from the rest of the body
this will probably be changed later on */
.pokemonList {
  color: green;
  font-size: 16px;
}

.pokemon-list {
    list-style-type: none;
    display: contents;
}

.button-pokemon {
  background-color: var(--button-pokemon-color);
  color: var(--text-color);
  font-weight: 300;
  padding: 10px;
  width: 150px;

}
