:root {
  --text-color: #000;
  --background-color: #d00013;
  --navbar-color: #f3fff6;
  --border-color: #b90012;
  --navigation-font-size: 26px;
  --button-pokemon-color: #13da76;
  --modal-color: #f1f1f1;
  --modal-border-color: #8e000d;
}

a.navbar-brand {
  text-align: start;
}

.form-control {
  border: 1px solid #808080;
  width: 200px !important;
}

.bg-light {
  background-color: var(--navbar-color) !important;
  border: 1px solid #000;
  border-radius: 0.5rem;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  /* font-styling not applied yet  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size); */
  line-height: 1.4;
  /* Sets the line-height to 1.4 */
  color: black;
  padding: 20px;
  background-color: var(--background-color);
  text-align: center;
}

.App h1 {
  font-size: 70px;
  text-shadow: 7px 7px 7px #000;
  color: #fff;
  margin-top: 20px;
}

.App h3 {
  -webkit-text-stroke-width: thin;
  color: #fff;
}

.app {
  max-width: 700px;
  margin: 0 auto;
}

.list-group {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 50px;
  margin-left: 50px;
}

.btn {
  background-color: var(--button-pokemon-color);
  color: var(--text-color);
  font-weight: 400;
  padding: 10px;
  text-transform: capitalize;
  border-color: inherit;
}

.btn:hover {
  background-color: #9de8c2;
}

.btn:focus {
  background-color: #74dba7;
}

.btn:active {
  background-color: #74dba7 !important;
}

#btn-back-to-top {
  position: fixed;
  bottom: 21px;
  right: 18px;
  display: none;
  padding: 0px;
  border: none;
}

.modal-header, .modal-body {
  background-color: var(--modal-color);
}

.modal-header {
  text-transform: uppercase;
  align-items: stretch;
  flex-direction: column;
  border-bottom: 2px dotted var(--modal-border-color);
}

.modal p {
  text-align: left;
  margin-bottom: 9px;
}

.pokemon-id {
  margin: 0;
}

.modal-header {
  display: inline-block;
}

.modal-header .close {
  margin: 0;
  padding: 0;
}

.modal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal-body img {
  padding: 20px;
  margin: 15px;
}

#emptydiv {
  padding: 20px;
  margin: 0;
}

@media all and (max-width: 400px){
  .list-group {
    grid-template-columns: 1fr;
    margin-right: 30px;
    margin-left: 30px;
  }

  #btn-back-to-top {
    bottom: 21px;
    right: 9px;
  }

  #emptydiv {
    padding: 10px;
  }
}
